@model IEnumerable<MovieCategory>;
@{
    ViewData["Title"] = "Category";
    int i = 1;
}
<div class="row">
    <h3 class="col-sm-8">Movie Category</h3>
    <button class="col-sm-2 btn btn-primary m-0 p-0" style="font-weight:bold">
        <a class="nav-link text-white" asp-controller="MovieCategory" asp-action="AddMovieCategory">Add Category</a>
    </button>
</div>

<table class="table">
    <tr>
        <td>S.N</td>
        <td class="col-sm-5">Genre</td>
        <td class="col-sm-5">Description</td>
        <td class="colsm-2">Action</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>@item.Genre</td>
            <td>@item.Description</td>
            <td>
                <button class="btn btn-secondary">Edit</button> &nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    }
</table>
